# My Details

name = Aditya Amrutiya

email = amrutiyaaditya@gmail.com

## String & Its default functions

In [1]:
str1 = "Hello"
str2 = "letsupgrade"

In [2]:
str2.capitalize()

'Letsupgrade'

In [3]:
str1.casefold()

'hello'

In [4]:
str1.count("l")

2

In [6]:
str2.isalpha()

True

In [7]:
str1.islower()

False

In [8]:
str1.lower()

'hello'

In [9]:
str2.swapcase()

'LETSUPGRADE'

In [10]:
str2.title()

'Letsupgrade'

In [11]:
str1.index('o')

4

In [12]:
str1.isnumeric()

False

## List & its default functions

In [49]:
lst = ["apple","india",45,"python",23,["fan","glass",37,"alpha",76],[27,15,64,32]]

In [50]:
lst[6].sort()

In [51]:
lst[6]

[15, 27, 32, 64]

In [52]:
lst.count(45)

1

In [53]:
lst.reverse()

In [54]:
lst

[[15, 27, 32, 64],
 ['fan', 'glass', 37, 'alpha', 76],
 23,
 'python',
 45,
 'india',
 'apple']

In [55]:
lst.append(11)

In [56]:
lst

[[15, 27, 32, 64],
 ['fan', 'glass', 37, 'alpha', 76],
 23,
 'python',
 45,
 'india',
 'apple',
 11]

In [57]:
lst1 = lst.copy()

In [58]:
lst1

[[15, 27, 32, 64],
 ['fan', 'glass', 37, 'alpha', 76],
 23,
 'python',
 45,
 'india',
 'apple',
 11]

In [59]:
lst1.clear()

In [60]:
lst1

[]

In [61]:
lst.extend("1")

In [62]:
lst

[[15, 27, 32, 64],
 ['fan', 'glass', 37, 'alpha', 76],
 23,
 'python',
 45,
 'india',
 'apple',
 11,
 '1']

In [63]:
lst.index(45)

4

In [64]:
lst.pop()

'1'

In [65]:
lst.remove(45)

In [66]:
lst

[[15, 27, 32, 64],
 ['fan', 'glass', 37, 'alpha', 76],
 23,
 'python',
 'india',
 'apple',
 11]

## Dictionary & its default functions

In [67]:
dic = {"name":"aditya","age":23,"gender":"male","dob":11}

In [69]:
dic.values()

dict_values(['aditya', 23, 'male', 11])

In [70]:
dic.keys()

dict_keys(['name', 'age', 'gender', 'dob'])

In [72]:
dic.get("name")

'aditya'

In [77]:
dic1 = dic.copy()

In [78]:
dic1

{'name': 'aditya', 'age': 23, 'gender': 'male', 'dob': 11}

In [79]:
dic1.clear()

In [80]:
dic1

{}

In [82]:
dic.pop("dob")

11

In [83]:
dic.items()

dict_items([('name', 'aditya'), ('age', 23), ('gender', 'male')])

In [84]:
dic.popitem()

('gender', 'male')

In [90]:
x=("a","b")
y=0
dic1 = dict.fromkeys(x,y)

In [91]:
dic1

{'a': 0, 'b': 0}

In [93]:
dic1.setdefault("age",23)

23

In [94]:
dic1

{'a': 0, 'b': 0, 'age': 23}

In [95]:
dic1.update({"c":1})

In [96]:
dic1

{'a': 0, 'b': 0, 'age': 23, 'c': 1}

## Tuple & its default properties

In [100]:
tup = ("a","b","c","d","a","b","a")

In [101]:
tup.count("a")

3

In [102]:
tup.index("c")

2

## Sets and its default properties

In [104]:
sets = {"a","b","c","a","b","d","e","z"}

In [105]:
sets

{'a', 'b', 'c', 'd', 'e', 'z'}

In [106]:
sets.add("x")

In [107]:
sets

{'a', 'b', 'c', 'd', 'e', 'x', 'z'}

In [108]:
sets1 = sets.copy()

In [109]:
sets1.add("y")

In [111]:
sets1

{'a', 'b', 'c', 'd', 'e', 'x', 'y', 'z'}

In [110]:
sets1.difference(sets)

{'y'}

In [112]:
sets1.difference_update(sets)

In [113]:
sets

{'a', 'b', 'c', 'd', 'e', 'x', 'z'}

In [114]:
sets1

{'y'}

In [115]:
sets1.clear()

In [116]:
sets1

set()

In [117]:
sets.discard("x")

In [119]:
sets

{'a', 'b', 'c', 'd', 'e', 'z'}

In [120]:
sets.pop()

'a'

In [121]:
sets.remove("e")

In [122]:
sets

{'b', 'c', 'd', 'z'}

In [123]:
sets1.add("b")

In [124]:
sets.intersection(sets1)

{'b'}

In [125]:
sets.isdisjoint(sets1)

False

In [126]:
sets1.issubset(sets)

True

In [127]:
sets.issuperset(sets1)

True

In [128]:
sets.symmetric_difference(sets1)

{'c', 'd', 'z'}

In [132]:
sets1.update("x")

In [133]:
sets1

{'b', 'x'}

In [134]:
sets.union(sets1)

{'b', 'c', 'd', 'x', 'z'}